
@{
    ViewData["Title"] = "INICIO";
    Layout = "/views/Shared/_Layout.cshtml";
}

<link href="~/css/bootstrap-material-design.min.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />
<link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
<link href="~/css/ripples.min.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/sweetalert2.css" rel="stylesheet" />
<body>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar" style=" background-image: url('../assets/img/sideBar-font1.jpg');">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                GEZAP <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <!-- SideBar User info -->
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">

                    <img src="@Url.Content("~/assets/img/avatar.jpg")" alt="UserIcon">
                    <figcaption class="text-center text-titles">User Name</figcaption>
                </figure>

            </div>
            <!-- SideBar Menu -->
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li>
                    <a asp-area="Principal" asp-controller="Principal" asp-action="Principal">
                        <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Inventario
                    </a>
                </li>
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Usuarios <i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="#"><i class="zmdi zmdi-male-alt"></i> Proveedores</a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-face"></i> Empleados</a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-male-female"></i> Clientes</a>
                        </li>
     
                    </ul>
                </li>

                <li>
                    <a href="#!">
                        <i class="zmdi zmdi-card zmdi-hc-fw"></i> Ventas
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="zmdi zmdi-reader"></i> Facturas
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="zmdi zmdi-refresh-alt"></i> Cambios
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Content page-->
    <section class="full-box dashboard-contentPage">
        <!-- NavBar -->
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
                <li>
                    <a href="#!" class="btn-exit-system">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- Content page -->
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles">Inicio</h1>
            </div>
        </div>
        <div class="full-box text-center" style="padding: 30px 10px;">
            <article class="full-box tile">
                <div class="full-box tile-title text-center text-titles text-uppercase">
                    Inventario
                </div>
                <div class="full-box tile-icon text-center">
                    <i class="zmdi zmdi-case zmdi-hc-fw"></i>
                </div>
                <div class="full-box tile-number text-titles">
                    <p class="full-box">7</p>
                    <small>Register</small>
                </div>
            </article>
            <article class="full-box tile">
                <div class="full-box tile-title text-center text-titles text-uppercase">
                    Proveedores
                </div>
                <div class="full-box tile-icon text-center">
                    <i class="zmdi zmdi-male-alt"></i>
                </div>
                <div class="full-box tile-number text-titles">
                    <p class="full-box">10</p>
                    <small>Register</small>
                </div>
            </article>
            <article class="full-box tile">
                <div class="full-box tile-title text-center text-titles text-uppercase">
                    Empleados
                </div>
                <div class="full-box tile-icon text-center">
                    <i class="zmdi zmdi-face"></i>
                </div>
                <div class="full-box tile-number text-titles">
                    <p class="full-box">70</p>
                    <small>Register</small>
                </div>
            </article>
            <article class="full-box tile">
                <div class="full-box tile-title text-center text-titles text-uppercase">
                    Clientes
                </div>
                <div class="full-box tile-icon text-center">
                    <i class="zmdi zmdi-male-female"></i>
                </div>
                <div class="full-box tile-number text-titles">
                    <p class="full-box">70</p>
                    <small>Register</small>
                </div>
            </article>
            <article class="full-box tile">
                <div class="full-box tile-title text-center text-titles text-uppercase">
                    Facturas
                </div>
                <div class="full-box tile-icon text-center">
                    <i class="zmdi zmdi-reader"></i>
                </div>
                <div class="full-box tile-number text-titles">
                    <p class="full-box">70</p>
                    <small>Register</small>
                </div>
            </article>
            <article class="full-box tile">
                <div class="full-box tile-title text-center text-titles text-uppercase">
                    Ventas
                </div>
                <div class="full-box tile-icon text-center">
                    <i class="zmdi zmdi-card zmdi-hc-fw"></i>
                </div>
                <div class="full-box tile-number text-titles">
                    <p class="full-box">70</p>
                    <small>Register</small>
                </div>
            </article>
            <article class="full-box tile">
                <div class="full-box tile-title text-center text-titles text-uppercase">
                    Cambios
                </div>
                <div class="full-box tile-icon text-center">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </div>
                <div class="full-box tile-number text-titles">
                    <p class="full-box">70</p>
                    <small>Register</small>
                </div>
            </article>
        </div>

    </section>

    


    <!--====== Scripts -->
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/sweetalert2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/material.min.js"></script>
    <script src="./js/ripples.min.js"></script>
    <script src="./js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./js/main.js"></script>
        <script>
        $.material.init() </script>
</body>

